.shoppingContainer{
    display: flex;
    background-color: #fff;
    height: 100vh;
}

.shoppingContent{
    display: flex;
    width:100%;
    overflow: scroll;
}

.shoppingList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 90px 42px 25px 51px;
  }
  
  .shoppingContentContainer{
    display: flex;
    width: 30%;
  }