.currentMovieContainer {
    width: 71.5%;
    margin: 30px auto;
  }
  
  .pageTitle {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: #4b90e2;
    margin-bottom: 40px;
  }
  
  .movieTitle {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }
  
  .videoContainer {
    position: relative;
  }
  
  .movieVideo {
    height: 65vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 24px;
  }
  
  .playIconContainer {
    position: absolute;
    cursor: pointer;
    left: 46%;
    top: 41%;
    height: 100px;
    width: 100px;
    color: #000;
  }
  
  .playIcon {
    width: 100%;
    height: 100%;
  }
  
  .movieDescription {
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 300;
  }