.current-movie-container {
    width: 71.5%;
    margin: 30px auto;
  }
  
  .page-title {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: #4b90e2;
    margin-bottom: 40px;
  }
  
  .movie-title {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }
  
  .video-container {
    position: relative;
  }
  
  .movie-video {
    height: 65vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: 24px;
  }
  
  .play-icon-container {
    position: absolute;
    cursor: pointer;
    left: 46%;
    top: 41%;
    height: 100px;
    width: 100px;
    color: #000;
  }
  
  .play-icon {
    width: 100%;
    height: 100%;
  }
  
  .movie-description {
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 300;
  }