.lotterySectionWrapper{
        display: flex;
        align-items: center;
        background-color: #b29035;
        padding: 35px;
        gap: 50px;
        justify-content: center;
        font-size: 1.5em;
        font-weight: 500;
}
