.headerWrapper {
  background-color: black;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 45px;
}

.navigationLinks {
  display: flex;
  gap: 40px;
  font-weight: 700;
  font-size: 1.3em;
}

.navigationLink {
  color: #ffffff;
  text-decoration: none;
}

.navigationLink:hover,.selected {
  color: #4b90e2;
}

.userInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.logoutBtn {
  background: none;
  border: none;
  padding: 0;
  font-weight: 400;
  cursor: pointer;
  outline: inherit;
  font-size: 20px;
  letter-spacing: 0.8px;
}
