.allMoviesContainer {
    display: flex;
    flex-flow: row wrap;
    padding: 3.5% 5% 2%;
    justify-content: space-between;
    gap: 80px;
  }

  .loaderContainer{
    position: relative;
    top: 280px;
    left: 50%;
    transform: translate(-50%,-50%);
  }