.teasersSectionContainer {
    margin: 1% 0 5%;
    padding: 0 9.25%;
    cursor: pointer;
  }
  
  .teasersTitle {
    font-weight: 300;
    font-size: 2.6rem;
    margin-bottom: 36px;
  }
  
  .teasersContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }