.otherLanguagesContainer {
  margin: 2% 0 6%;
  padding: 0 9.25%;
}

.languagesTitle {
    color: #fff;
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.languageListContainer {
  display: flex;
  gap: 8px;
}

.languageCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  color: #4176b8;
  border: 1.5px solid #4176b8;
  font-size: 34px;
  font-weight: 700;
  cursor: pointer;
}
