.captionA {
  margin: 0;
  padding: 65px 155px 18px;
  font-size: 3em;
  font-weight: 500;
}

.captionB {
  margin: 0;
  font-size: 2em;
  font-weight: 400;
  padding: 0 155px 12px;
}

.categoryList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0px 140px 20px;
}
