.wishlistContainer h2 {
  color: #333;
}
.emptyWishlistMessage{
  padding: 0 37px;
}
.individualWishlist {
    display: flex;
  flex-grow: 1;
  padding: 0 17px 0 21px;
}
.wishlistContainer ul {
  list-style: none;
  padding: 10px 0;
}

.wishList {
  display: flex;
  margin: 0 15px 35px 0;
  box-shadow: 2px 2px 4px 2px #ccc;
  align-items: center;
  border-radius: 5px;
  margin-left: 48px;
  background-color: #fff;
}

.leftWishlistSection {
  position: relative;
}

.wishList img {
  position: absolute;
  top: -30px;
  left: -33px;
  width: 122px;
  height: 80px;
  border-radius: 10px;
}

.rightWishlistSection {
  height: 80px;
  width: 323px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px 0;
  position: relative;
}

.rightWishlistSection div {
  font-size: 14px;
  margin: 5px 5px 0px 100px;
  font-weight: 600;
}

.addToCartButton {
  position: absolute;
  top: 65px;
  right: 15px;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 8px 15px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
