.lotteryFormWrapper{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #dcc031, #b78c16);
    padding: 35px;
    gap: 50px;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 500;
}

.lotteryFormWrapper input{
    padding: 18px;
    width: 300px;
    border: none;
    font-size: 0.6em;
}

.lotteryFormWrapper input:focus{
    outline: none;
}

.lotteryFormWrapper button{
    background-color: #bf2828;
    padding: 13px 20px;
    font-size: 1em;
	color: inherit;
	border: none;
    font-weight: 400;
}