.lotteryFormWrapper{
    display: flex;
    align-items: center;
    background-color: #b29035;
    padding: 30px;
    gap: 50px;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 500;
}

.lotteryFormWrapper input{
    padding: 18px;
    width: 300px;
    border: none;
    font-size: 0.6em;
}

.lotteryFormWrapper input:focus{
    outline: none;
}

.lotteryFormWrapper button{
    background-color: #bf2828;
    padding: 13px 20px;
    font-size: 1em;
	color: inherit;
	border: none;
	cursor: pointer;
    font-weight: 400;
}