.nav_container {
  padding: 15px 8px;
}

.nav_list {
  list-style: none;
  display: flex;
  color: rgb(78, 82, 97);
  font-weight: 700;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.nav_list li {
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.nav_list li:hover {
  background-color: rgb(136, 158, 248);
  color: #fff;
}
