.errorMessage {
    color: #ff0000;
    margin-bottom: 24px;
  }

  .inputGroup{
    display: flex;
    flex-direction: column;
  }

  .inputLabel{
    color: #838485;
    margin-bottom: 14px;
  }

  .inputField{
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #838485;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 28px;
  }

  .inputField:focus{
    outline: none;
  }

.loginBtn{
    font-size: 1.5em;
    color: #fff;
    padding: 22px 0;
    margin-top: 24px;
    width: 100%;
    background: linear-gradient(to right, #f6a622, #ac8813);
}