.trailerContainer {
  color: #fff;
  margin: 5.75% 0 2%;
  padding: 0 9.25%;
}

.trailerImage {
  /* flex: 1; */
}

.trailerTitle{
  display: inline;
  font-weight: 300;
  font-size: 2.6rem;
  margin-bottom: 8px;
}

.signInContainer{
  font-weight: 300;
  font-size: 1.32rem;
}

.signInContainer a{
  color: #628cb8;
}

.movieContainer{
  display: flex;
  gap: 50px;
  margin-top: 36px;
}

.image {
  height: 300px;
  width: 445px;
}

.trailerDetails {
  flex: 2;
  padding: 0 60px;
}

.title {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.description {
  margin-bottom: 2.4rem;
  line-height: 1.5;
  font-size: 1.55em;
}

.watchNowButton {
  background: linear-gradient(to right, #f6a622, #ac8813);
  padding: 20px 30px;
  border: none;
  font-size: 1.4em;
  text-decoration: none;
}

