.teasers-section-container {
    margin: 1% 0 5%;
    padding: 0 9.25%;
  }
  
  .teasers-title {
    font-weight: 300;
    font-size: 2.6rem;
    margin-bottom: 36px;
  }
  
  .teasers-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }